:root {
    --text-white: white;
    --text-grey: rgb(220, 220, 220);
    --text-white-hover: rgb(201, 201, 201);
    --text-black: rgb(50, 50, 50);
    --text-green: rgb(51, 170, 68);
    --text-green-hover: rgb(71, 204, 19);

    --fg-black: rgb(0, 0, 0);
    --fg-green: rgb(71, 204, 19);
    --fg-green-hover: rgb(66, 194, 16);

    --bg-black: rgb(20, 20, 20);
    --bg-grey: rgb(150, 150, 150);
    --bg-dark-black: rgb(36, 36, 36);
    --bg-green: rgb(122, 231, 48);
    --bg-green-hover: rgb(71, 204, 19);
    --song-height: 100px;
}

.slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
background: var(--fg-black);
outline: none;
border: 2px solid var(--text-green);
border-radius: 8px;
}


/* for chrome/safari */
.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 20px;
height: 60px;
background: var(--fg-black);
cursor: pointer;
border: 5px solid var(--text-green);
border-radius: 4px;
}

/* for firefox */
.slider::-moz-range-thumb {
width: 20px;
height: 60px;
background: var(--fg-black);
cursor: pointer;
border: 5px solid var(--text-green);
border-radius: 4px;
}

.parentform {

  border: 0px solid var(--fg-black);
  outline: 2px solid var(--text-green);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 1rem 1rem;
}

.childform {
  color: var(--text-green);
  padding: 4px;
  vertical-align: middle;
  margin: 0;
}

.formtext {
  min-width: 150px;
  text-align: center;
}

.formbar {
  width: 100%;
  max-width: 1200px;
}

.submitbutton {
  background-color: var(--fg-black);
  border: 2px solid var(--text-green);
  color: var(--text-green);
  padding: 15px 30px;
  margin: 4px 2px;
  font-size: 30px;
  cursor: pointer;
  font-family: inherit;
}

.error {
  color: rgb(231, 48, 48);
  text-align: center;
}

.songlabel {
  text-align: center;
}

.songURL {
  width: 75%;
  text-align: center;
  vertical-align: text-bottom;
  border-bottom: 2px solid white;
  padding: 20px 10px;
  padding-bottom: 0px;
  font-size: larger;
  outline: none;
  background-color: var(--bg-black);
  border: none;
  border-bottom: 2px solid var(--fg-black);
}

.requestsong {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}

.requestform {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 0 auto;
}
