:root {
    --text-white: white;
    --text-grey: rgb(220, 220, 220);
    --text-white-hover: rgb(201, 201, 201);
    --text-black: rgb(50, 50, 50);
    --text-green: rgb(122, 231, 48);
    --text-green-hover: rgb(71, 204, 19);

    --fg-black: rgb(50, 50, 50);
    --fg-green: rgb(71, 204, 19);
    --fg-green-hover: rgb(66, 194, 16);

    --bg-black: rgb(20, 20, 20);
    --bg-grey: rgb(150, 150, 150);
    --bg-dark-black: rgb(36, 36, 36);
    --bg-green: rgb(122, 231, 48);
    --bg-green-hover: rgb(71, 204, 19);
    --song-height: 100px;
}

.small {
    --song-height: 50px;
}

.selected {
    background-color: lightgrey;
}


body {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    background-color: var(--bg-black);
    margin: 0;
}

/* navigation */

nav {
    color: var(--text-grey);
    background-color: var(--bg-dark-black);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav .company {
    display: inline-block;
    margin-right: auto;
}

nav .company a {
    color:white;
}

nav a {
    color: var(--text-grey);
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
}

nav a:hover {
    color: var(--text-white-hover);
}

/* content */

.title-group {
    text-align: center;
}

.title-group h1 {
    font-size: 3rem;
}

.content {
    margin: 40px;
}

.member_list .member {
    background-color: rgb(51, 51, 51);
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
}

.member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
}
.member .name {
    color: var(--text-green);
    font-weight: 300;
    margin: 10px 0;
    font-size: 1.25rem;
    text-align: center;
    display: block;
}

.member .major {
    color: var(--text-white);
    font-weight: 300;
    margin: 10px 0;
    font-size: 1rem;
    text-align: center;
    display: block;
}

.button-group {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-button {
    color: var(--text-white);
    background-color: var(--fg-green);
    text-decoration: none;
    padding: 40px;
    font-size:4rem;
    font-weight: 700;
}

.big-button:hover {
    background-color: var(--fg-green-hover);
}

form .category {

}

form .category-header {
    color: var(--text-green);
    font-size: 2rem;
    margin: 0;
}

/* form .category .box {
    padding: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid var(--bg-dark-black);
    margin: -2px -2px 0 0;
}

form .category .box:hover {
    background-color: var(--bg-dark-black);
    cursor: pointer;
} */


.song_list {
    width: 100%;
}

.song_list .header {
    margin: 40px 0 0 0 !important;
    background-color: transparent !important;
    height: 40px !important;
}

.song_list .song-row {
    display: grid;
    grid-template-columns: 100px repeat(5, 1fr);
    gap: 10px;
    align-items: center;

    width: 100%;
    height: var(--song-height);
    background-color: rgb(51, 51, 51);
    margin-bottom: 20px;
}

.song-row p {    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.song-row  img {
    max-width: var(--song-height);
    max-height: var(--song-height);
    object-fit: cover;
}

.song-row .title {
    margin-left: 10px;
    color: var(--text-white);
    font-size: 1rem;
}

.song-row-header .title {
    margin-left: 10px;
}

.song-row .artist {
    color: var(--text-white);
    font-weight: 300;
    font-size: 1rem;
    display: block;
}

.song-row .attr {
    color: var(--text-white);
    font-weight: 300;
    font-size: 1rem;
    display: block;
}

button {
    padding: 6px;
    line-height: 0;
    background-color: var(--bg-grey);
}

button:hover {
    cursor: pointer;
}
