:root {
    --text-white: white;
    --text-grey: rgb(220, 220, 220);
    --text-white-hover: rgb(201, 201, 201);
    --text-black: rgb(50, 50, 50);
    --text-green: rgb(122, 231, 48);
    --text-green-hover: rgb(71, 204, 19);

    --fg-black: rgb(50, 50, 50);
    --fg-green: rgb(71, 204, 19);
    --fg-green-hover: rgb(66, 194, 16);

    --bg-black: rgb(20, 20, 20);
    --bg-grey: rgb(150, 150, 150);
    --bg-dark-black: rgb(36, 36, 36);
    --bg-green: rgb(122, 231, 48);
    --bg-green-hover: rgb(71, 204, 19);
    --song-height: 100px;
}

.small {
    --song-height: 50px;
}

.selected {
    background-color: grey;
}


body {
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: white;
    background-color: var(--bg-black);
    margin: 0;
    
}

/* navigation */

nav {
    color: var(--text-grey);
    background-color: var(--bg-dark-black);
    padding: 20px; 
    display: flex;
    justify-content: space-between;  
}

nav .company {
    display: inline-block;
    margin-right: auto;
}

nav .company a {
    color:white;
}

nav a {
    color: var(--text-green);
    display: inline-block;
    margin: 0 20px; 
    text-decoration: none;
}

nav a:hover {
    color: var(--text-white-hover);
}

/* content */

.title-group {
    text-align: center;
}

.title-group h1 {
    font-size: 5rem;
    font-weight: 300;
}

.title-group h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;

}

.title-group h3 {
    font-size: 4rem;
    font-style: italic;
    color: #33AA44;
    font-weight: 300;
}

.content {
    margin: 40px;
}

