{% extends "nav.html" %}

{% block title %}Home{% endblock %}

{% block style %}<link rel="stylesheet" href="static/css/playlist_form.css">{% endblock %}

{% block content %}
    <form action="/generate" method="GET">
	{% for category in categories %}
	<div class="greenborder">
	<div class="parentform">
	    <div class="formtext childform">
            <h2 class="category-header">{{ category.name }}</h2>
	    </div>
	    <div class="formbar childform">
	    <input type="range" id="{{ option }}" 
                   name="{{ category.name }}" 
                   min="{{ category.min }}" 
                   max="{{ category.max }}" 
                   step="{{ category.step }}"
		   class="slider">
            <label for="{{ option }}">{{ option }}</label>
	    </div>
	</div>
	</div>
        {% endfor %}
	
	<br><br>
        <div>
            <input class="submitbutton" type="submit" value="Submit">
            <a class="submitbutton" id="requestbutton" href="/requestform">Request Song</a>
        </div>
    </form>
{% endblock %}
