{% extends "nav.html" %}

{% block style %}<link rel="stylesheet" href="static/css/playlist_gen.css">{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 id="playlist-title" contenteditable="true">Playlist</h1>

    <button id="large-button" class="selected" onclick="toLarge();">
        <i class="bi bi-grid"></i>
    </button>
    <button id="small-button" onclick="toSmall(this);">
        <i class="bi bi-list"></i>
    </button>

    <div class="song_list">
        <div class="song-row header">
            <p></p> <!-- DO NOT DELETE -->
            <p class="title">Name</p>
            <p class="title">Artist</p>
            {% for cat in categories %}
                <p>{{ cat|title}}</p>
            {% endfor %}
        </div>
        {% for song in playlist %}
        <div class="song-row song" song_id="{{ song.song_id }}">
            <img src="{{ song.cover_url }}">
            <p class="title">{{ song.song_name }}</p></td>
        <a class="artist" onclick="getArtistPage(this)">{{ song.artist_name }}</a>
            {% for cat in categories %}
                <p class="attr">{{ song[cat] }}</p>
            {% endfor %}
            <i class="like bi bi-hand-thumbs-up-fill"></i>
        </div>
        {% endfor %}
    </div>
    <div class="overlay_container">
        <div class="background_block" onclick="hideArtistPage(this)"></div>
        <div class="artist_overlay">
            <div class="artist_header">
                <img src="static/images/kazi_shadman.jpg">
                <div>
                    <div class="name">INSERT ARTIST NAME HERE</div>
                    <a class="link" href="https://www.spotify.com">Spotify Link</a>
                </div>
            </div>
            <div class="artist_songs"></div>
        </div>
    </div>
    <script src="static/js/row_height.js"></script>
    <script src="static/js/toggle_upvote.js"></script>
    <script src="static/js/artist_page.js"></script>
{% endblock %}
