{% extends "nav.html" %}

{% block title %}Song Request{% endblock %}

{% block style %}<link rel="stylesheet" href="static/css/playlist_form.css">{% endblock %}

{% block content %}
    <div class="requestsong">
        <h1>Request a Song</h1>
        <form class="requestform" action="/request" method="GET">
            <label for="songURL" class="songlabel">Enter the URL for the song you want to submit</label><br>
            <input class="songURL" id="songURL" name="songURL" type="text"><br>
            <p class="error">{{ error }}</p>
            <input class="submitbutton" id="requestsubmit" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}