{% extends "nav.html" %}

{% block title %}Shared Playlists{% endblock %}

{% block style %}<link rel="stylesheet" href="static/css/share_page.css">{% endblock %}

{% block content %}
<div class="l_container">
        {% for playlist in songs %}
        <div class="fpl_container">
        <div class="pl_header" onclick="hideToggle(this)"><h1>{{ playlist.playlist_name }}</h1> 
        <a href="https://open.spotify.com/playlist/{{ playlist.pid }}">
            <input class="submitbutton" type="submit" value="Export to Spotify">
        </a></div>
        <div class="pl_container">
                <ul class="pl_song_list">
                        {% for song in playlist.playlist %}
                        <div class="container">
                                <img src="{{ song.cover_url }}">
                                <p class="title">{{ song.song_name }}</p></td>
                        <p class="artist" id="{{ song.artist_name }}">{{ song.artist_name }}</p>
                        </div>
                        <!-- <li>{{ song.song_name }}</li> -->
                        {% endfor %}
                </ul>
                <!-- <hr size="8" width="100%" color="green"> -->
        </div>
</div>
{% endfor %}
</div>
<script src="static/js/share_page.js"></script>
{% endblock %}
